

*{
    margin: 0;
    padding: 0;
}




.navcolour{
	background-color: rgb(106,109,105);
}

.underline{
    text-decoration:none;
}


.kurti img{
    border-radius: 50%;
height: 350px;

}










/*  */
